<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <h1>Product Catalog System</h1>
    <nav align="right"><a href="{% url 'add' %}">Add New Product</a></nav>
    <table border="2" align="center">
        <tr>
            <td colspan="3">List of Products Available</td>
        </tr>
        <tr>
            <td>Name</td>
            <td>Email</td>
            <td>PDF</td>
        </tr>
        {% for data in data %}
        <tr>
            <td>
                {{data.name}}
            </td>
            <td>
                <a href="{% url 'email' data.id %}">Email</a>
            </td>
            <td>
                <a href="{% url 'pdf' data.id %}">PDF</a>
            </td>
        </tr>
        {% endfor %}
    </table>
</body>

</html>